@model IEnumerable<ProductViewModel>
@using TestOnion.Models


<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Users</div>
    <div class="panel-body">
        <div class="btn-group">
            @*<a id="createEditUserModal" data-toggle="modal" asp-action="AddUser" data-target="#modal-action-user" class="btn btn-primary">*@
            @Html.ActionLink("Добавить", "AddProduct", "Product")
            <i class="glyphicon glyphicon-plus"></i>  Add Company
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Identity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProductNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.ProductDescription)</td>
                        <td>
                            <a id="editProductModal" data-toggle="modal" asp-action="EditProduct" asp-route-id="@item.Id" data-target="#modal-action-product"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteProductModal" data-toggle="modal" asp-action="DeleteProduct" asp-route-id="@item.Id" data-target="#modal-action-product" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                            <a id="deleteProductModal" data-toggle="modal" asp-action="ProductProfile" asp-route-id="@item.Id" data-target="#modal-action-product" class="btn btn-light">
                                <i class="glyphicon glyphicon-trash"></i>  View
                            </a>
                            <a id="AddToCartProductModal" data-toggle="modal" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id" data-target="#modal-action-add-to-cart-product" class="btn btn-light">
                                <i class="glyphicon glyphicon-trash"></i>  AddToCart
                            </a>
                        </td>
                    </tr>
                }
                @Html.ActionLink("Компаний", "Index", "Company")

            </tbody>
        </table>
    </div>
</div>
