@model IEnumerable<CartViewModel>
@using TestOnion.Models


<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Users</div>
    <div class="panel-body">
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Count)</td>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>
                            <a id="editCartModal" data-toggle="modal" asp-action="EditCart" asp-route-id="@item.Id" data-target="#modal-action-cart"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteProductModal" data-toggle="modal" asp-action="DeleteProductFromCart" asp-route-id="@item.Id" data-target="#modal-action-product" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                        </td>
                    </tr>
                }
                @Html.ActionLink("Компаний", "Index", "Company")
            </tbody>
        </table>
    </div>
</div>
