@model IEnumerable<CompanyViewModel>
@using TestOnion.Models


<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Users</div>
    <div class="panel-body">
        <div class="btn-group">
            @*<a id="createEditUserModal" data-toggle="modal" asp-action="AddUser" data-target="#modal-action-user" class="btn btn-primary">*@
            @Html.ActionLink("Добавить", "AddCompany", "Company")
            <i class="glyphicon glyphicon-plus"></i>  Add Company
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Identity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CompanyNamme)</td>
                        <td>@Html.DisplayFor(modelItem => item.CompanyIdentity)</td>
                        <td>
                            <a id="editCompanyModal" data-toggle="modal" asp-action="EditCompany" asp-route-id="@item.Id" data-target="#modal-action-company"
                               class="btn btn-info">
                                <i class="glyphicon glyphicon-pencil"></i>  Edit
                            </a>
                            <a id="deleteCompanyModal" data-toggle="modal" asp-action="DeleteCompany" asp-route-id="@item.Id" data-target="#modal-action-company" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>  Delete
                            </a>
                            <a id="deleteCompanyModal" data-toggle="modal" asp-action="CompanyProfile" asp-route-id="@item.Id" data-target="#modal-action-company" class="btn btn-light">
                                <i class="glyphicon glyphicon-trash"></i>  View
                            </a>
                        </td>
                    </tr>
                }
                @Html.ActionLink("Продукты", "Index", "Product")
            </tbody>
        </table>
    </div>
</div>
